.iconCarrito {
    width: 85px;
    height: 85px;
    
}

.navBarStyle {
    text-align: center;

}

.ItemListContainerStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin-right: 253px;
}

.buttonsNavBar {
    margin: 40px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: solid black 10px;
    text-decoration: none;
}

.fontTitle {
    font-size: 29px;
}

.iconTienda {
    width: 80px;
    height: 60px;
    margin: 10px
}

.iconContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.iconCartContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
    margin-right: 10px;
}
